* {
    margin: 0;
    padding: 0;         
    box-sizing: border-box;
}

body {
    background-image: url(../program-images/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-color: rgba(28, 28, 40, 1);
    font-family: sans-serif ;
    overflow-x: hidden;

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin-top: 50px;

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;



        .footer-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }

        .footer-link a {
            text-decoration: none;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: rgb(200, 199, 216);
            transition: all 0.4s ease;
        }


        .footer-link a:hover {
            color:white;
        padding: 15px   20px;
        background: rgba(57, 57, 83, 1);
        border-radius: 8px;
        cursor: pointer;

        }

        .cc {
            display: flex;
            
            gap: 10px;
        }
}
}


.footer-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-right: 15%;
}

    .footer-img img:hover {
        cursor: pointer;
        padding: 10px;
        background: rgba(57, 57, 83, 1);
        transition: all 0.4s ease;
        border-radius: 8px;
    

    }

}